:root {
  --COLS: 10;
  --ROWS: 10;
}
#minefield {
  display: grid;
  border: 2px solid #000; 
  grid-template-columns: repeat(var(--COLS), 40px);
}
#board {
  display: flex;
  justify-content: center;
  align-items: center;
}
#smileyButton {
  font-size: 40px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px;
}
#smileyButton:hover {
  background-color: #e0e0e0;
}
#smileyButton:active {
  background-color: #d0d0d0;
}
#easy,
#medium,
#hard {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
#easy {
  background-color: #4caf50;
}
#medium {
  background-color: #ffeb3b;
}
#hard {
  background-color: #f44336;
}
#easy:hover,
#medium:hover,
#hard:hover {
  transform: scale(1.05);
}
#easy:active,
#medium:active,
#hard:active {
  transform: scale(0.95);
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #c0c0c0;

  border: 3px solid;
  border-color: #7d7d7d #fff #fff #7d7d7d;

  font-size: 20px;
  color: #333;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}

.revealed {
  background-color: #fff;
  cursor: default;
  color: white;
}

.cell .flagged::before {
  content: "🚩";
}

.cell.mine {
  background-color: #f00;
  color: #fff;
}

.number-1 {
  color: #007bff;
}
.number-2 {
  color: #28a745;
}
.number-3 {
  color: #dc3545;
}
.number-4 {
  color: #ffc107;
}
.number-5 {
  color: #17a2b8;
}
.number-6 {
  color: #f8f9fa;
}
.number-7 {
  color: #6c757d;
}
.number-8 {
  color: #343a40;
}

.minesweeper-status {
  text-align: center;
  margin-top: 20px;
}

.minesweeper-button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.minesweeper-button:hover {
  background-color: #f0f0f0;
}

.minesweeper-button:active {
  background-color: #e0e0e0;
}
.hidden {
  display: none;
}
#frame {
  position: fixed;
  left: 200px;
}

